* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-image: linear-gradient(to bottom, rgb(40, 60, 102),rgb(0, 69, 78));
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #f3f3f3;
    padding: 10px;
}

.container-btns ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;   
    align-items: center;
    text-align: center;
    gap: 25px; 
    list-style: none;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 93.9vh;
}
.container-tempoRestante {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempoRestante #tempo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
    height: 200px;
    justify-content: center;
    border: solid #f3f3f3 5px;
    color: white;
    padding: 10px;
    border-radius: 400px;
}